$lightGreen: #b9e7e7;

* {
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  .container {
    width: 1024px;

    .layout {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100vh;
    }

    .link {
      text-decoration: none;
      color: inherit;
    }
    //LOGIN & REGISTER

    .auth {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
      height: 100vh;

      h1 {
        font-size: 20px;
        color: rgb(255, 255, 255);
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        padding: 50px;
        background-color: #946931;
        width: 200px;
        gap: 20px;

        input {
          padding: 10px;
          border: none;
          border-bottom: 1px solid gray;
        }

        button {
          padding: 10px;
          border: none;
          background-color: #C6AB67;
          cursor: pointer;
          color: white;
        }

        p {
          font-size: 12px;
          color: red;
          text-align: center;
        }

        span {
          font-size: 12px;
          text-align: center;
        }

        .formLink {
          color: #F7EC9C;
        }
      }
    }

    //NAVBAR

    .navbar {
      .container {
        padding: 10px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo {
          img {
            width: 286px;
            height: 75px;
          }
        }
        .links {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 16px;
            font-weight: 300;
          }

          span {
            cursor: pointer;
          }

          .write {
            background-color: #946931;
            height: 40px;
            color: white;
            padding: 0px 10px 0px 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            border: 2px solid #946931;

            &:hover {
              color: #946931;
              background-color: white;
              border: 2px solid #946931;
            }
          }
          .write2 {
            background-color: transparent;
            height: 40px;
            color: #946931;
            padding: 0px 10px 0px 10px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            border: 2px solid #946931;

            &:hover {
              color: white;
              background-color: #946931;
              border: 2px solid #946931;
            }
          }
        }
      }
    }

    //FOOTER

    footer {
      margin-top: 100px;
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      img {
        height: 50px;
      }
    }

    //HOME

    .home {
      .posts {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 50px;

        .post {
          display: flex;
          gap: 100px;

          /* &:nth-child(2n + 1) {
            flex-direction: row-reverse;
          } */

          .img {
            flex: 2;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 100%;
              background-color: $lightGreen;
              position: absolute;
              top: 20px;
              left: -20px;
              z-index: -1;
            }

            img {
              width: 100%;
              max-height: 400px;
              object-fit: cover;
            }
          }

          .content {
            flex: 3;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .header {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .storyCountry {
                font-weight: 700;
              }
              .postDesc {
                text-align: end;
                font-weight: 700;
              }
            }

            h1 {
              font-size: 48px;
              margin: 0px;
              color: #946931;
            }

            p {
              font-size: 18px;
            }

            button {
              background-color: transparent;
              height: 40px;
              color: #946931;
              padding: 0px 10px 0px 10px;
              border-radius: 10px;
              display: flex;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              border: 2px solid #946931;
  
              &:hover {
                color: white;
                background-color: #946931;
                border: 2px solid #946931;
              }
            }
          }
        }
      }

      .headTest {
        text-align: center;

        h1 {
          font-size: 60px;
          margin: 84px 0px 0px 0px;
          font-weight: 900;
          line-height: 60px;
        }
        span {
          background: linear-gradient(to right, #946931, #C6AB67, #F7EC9C, #C6AB67, #946931);
          -webkit-background-clip: text;
          color: transparent;
        }
        p {
          font-size: 20px;
          color: #7e7e7e;
          margin: 20px 0px 0px 0px;
        }
        
      }

      form {
        display: flex;
        justify-content: center;
      }
      form input {
        margin: 64px 0px 64px 0px;
        width: 576px;
        height: 42px;
        border-radius: 10px;
        border: 1px transparent solid;
        box-shadow: 0px 0px 5px black;
        text-align: center;
      }
    }

    //SINGLE

    .single {
      display: flex;
      gap: 50px;

      .content {
        flex: 5;
        display: flex;
        flex-direction: column;
        gap: 30px;

        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;
          font-size: 14px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-weight: bold;
          }
        }

        .edit {
          display: flex;
          gap: 5px;

          img {
            width: 20px;
            height: 20px;
            border-radius: 0;
            cursor: pointer;
          }
        }

        h1 {
          font-size: 42px;
          color: #333;
        }

        p {
          text-align: justify;
          line-height: 30px;
        }
      }
      .menu {
        flex: 2;
        display: flex;
        flex-direction: column;
        gap: 25px;

        h1 {
          font-size: 20px;
          color: #555;
        }
        .country {
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          color: #946931
        }

        .infoLine {
          display: flex;
          justify-content: space-between;
        }

        .post {
          display: flex;
          flex-direction: column;
          gap: 10px;

          img {
            width: 100%;
            height: 200px;
            object-fit: cover;
          }

          h2 {
            color: #555;
          }

          button {
            width: max-content;
            padding: 7.5px 15px;
            border: none;
            cursor: pointer;
            color: teal;
            background-color: white;
            border: 1px solid teal;

            &:hover {
              border: 1px solid white;
              background-color: $lightGreen;
              color: black;
            }
          }
        }
      }
    }

    //WRITE

    .write {

      .titleAndCountry {
        display: flex;
        justify-content: space-between;

        input {
          height: 50px;
          width: 100%;
        }
      }
      .editor {
        height: 400px;
        margin-bottom: 50px;
      }

      .publish {
        background-color: transparent;
        height: 40px;
        color: #946931;
        padding: 0px 10px 0px 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        border: 2px solid #946931;

        &:hover {
          color: white;
          background-color: #946931;
          border: 2px solid #946931;
        }
      }

    }
  }
}